<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <style>
            .container{
                background-color:khaki;    
                text-decoration-line: underline;
            }
            .dd{
                background-color: rgb(169, 169, 169);
                text-align: center;
            }
        </style>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href>
</head>
<body>
    <div class="dd">
        <h1><b>ABOUT OUR WEBSITE</b></h1>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                fuga, dolore laudantium cum corporis consequatur reiciendis
                ipsum debitis facilis inventore quisquam perspiciatis,
                blanditiis quo eaque eligendi corrupti pariatur tempora ad,
                maxime sapiente temporibus molestiae odio nulla ipsa? Doloremque
                fugiat vitae velit voluptatibus amet, laborum reiciendis iste
                nisi, ab at earum soluta nesciunt aut voluptates eveniet, veniam
                optio modi repellat officiis? Corporis esse doloribus possimus
                vero illo cumque, aut distinctio cupiditate, animi ipsa
                temporibus velit impedit. Modi quia dolorum perspiciatis nam
                porro vero consectetur cumque natus dicta? Quaerat ipsum placeat
                nam. Alias officia, sit, dolore exercitationem voluptate at
                inventore quibusdam magni impedit eos sunt et? Nulla minus
                obcaecati, ea nostrum natus voluptates consequuntur, repudiandae
                fuga aliquam quas quisquam perferendis ullam laudantium labore!
                Repudiandae atque iusto autem odio eos consequatur, fugiat quas
                expedita doloribus praesentium, accusantium molestias. Placeat
                magni at mollitia tempora. Natus labore blanditiis debitis quis
                maxime adipisci, sapiente ipsum ea. Ex maxime nostrum vitae
                expedita, assumenda tenetur ratione libero voluptas quod
                consequuntur amet illo vero temporibus eius et nesciunt
                obcaecati tempore ea. Laborum ut nostrum est omnis assumenda
                odio iste velit porro. Ratione cumque ipsam itaque facere
                possimus ipsum qui perspiciatis, ut eveniet asperiores mollitia
                et expedita, eum nostrum quod quasi tenetur maiores? Provident,
                ullam beatae! Esse magni adipisci eaque amet ipsam illum aperiam
                provident quam? Totam voluptate fuga, eaque aliquid perferendis
                adipisci provident fugiat quibusdam! Sint reprehenderit nisi,
                aliquam et obcaecati natus quia quibusdam consequuntur aliquid
                distinctio dolorem incidunt velit dolores similique quidem hic
                perspiciatis nam veritatis illo molestias accusamus, eum quasi.
                Facilis quia, assumenda voluptatem ut consequatur aperiam
                eligendi nostrum reprehenderit non veritatis dignissimos odit a
                provident labore illum, animi enim, eius fuga. Laboriosam
                molestias autem nostrum dolore nihil asperiores natus, error
                minima unde, eum sequi animi blanditiis sint facere, quaerat
                amet repellendus impedit hic! Eveniet fuga perspiciatis sequi
                consectetur obcaecati officia adipisci ipsa, facilis nesciunt
                recusandae maiores, neque dignissimos voluptate cupiditate
                provident vel blanditiis perferendis deleniti cum at ipsum, id
                enim sint? Molestias iure voluptatum minima facere. Excepturi,
                quos voluptas unde recusandae nisi illo dolorem consequatur
                deleniti sapiente reprehenderit perspiciatis ad consequuntur
                quasi dolore sit harum provident praesentium sed nobis nemo
                debitis veritatis! Placeat nobis quam laborum eius quibusdam
                iste enim ducimus! Nobis modi placeat voluptatibus sunt id
                tempore? Labore, reiciendis modi, sint distinctio odio veritatis
                deleniti, maxime necessitatibus architecto accusamus eveniet
                quidem! Ratione, quas autem. Amet vitae doloribus velit aliquam
                voluptatibus quae, excepturi totam quidem odit facere explicabo
                commodi officiis facilis veritatis quas dicta error dolores quo,
                pariatur ullam provident debitis? Necessitatibus quas
                accusantium amet quidem quibusdam! Quis itaque laborum quod,
                distinctio accusantium at in natus non labore voluptate ipsa
                error autem tempore quisquam quidem sapiente porro quae
                necessitatibus soluta voluptas corporis odit illum quos esse.
                Perferendis consequuntur expedita, similique accusantium
                eligendi sunt perspiciatis quo id nulla at illum a quisquam rem
                sed non! Voluptatem cum soluta nisi suscipit dolores est itaque
                deserunt atque obcaecati, maiores doloribus reiciendis
                dignissimos earum, quaerat consectetur voluptatum neque adipisci
                odit praesentium ratione. Asperiores non modi aut eos
                necessitatibus nemo fugiat?</p>
        </div>
        <button>Contact Us</button>
        <script src async defer></script>
    </body>
</html>